version: "3"

services:
  wordpress:
    build: .
    environment:
      VIRTUAL_HOST: "${DOCKER_DEV_DOMAIN:-project.test}"
      WORDPRESS_DB_HOST: "mysql"
      WORDPRESS_DB_NAME: "wordpress"
      WORDPRESS_DB_PASSWORD: ""
      WORDPRESS_DB_USER: "root"
      WORDPRESS_DEBUG: "${WORDPRESS_DEBUG:-false}"
      WORDPRESS_CONFIG_EXTRA: "${WORDPRESS_CONFIG_EXTRA:-''}"
    depends_on:
      - "mysql"
    networks:
      - "front"
      - "back"
    volumes:
      - "wp:/var/www/html:rw"
      - "./mz-mindbody-api:/var/www/html/wp-content/plugins/mz-mindbody-api:ro"
      - "./mindbody-access-management:/var/www/html/wp-content/plugins/mindbody-access-management:ro"
      - "./mbo-sandbox:/var/www/html/wp-content/plugins/mbo-sandbox:ro"
      - "./advanced-custom-fields-pro:/var/www/html/wp-content/plugins/advanced-custom-fields-pro:ro"
      - "./debug-bar-actions-and-filters-addon:/var/www/html/wp-content/plugins/debug-bar-actions-and-filters-addon:ro"
      - "./debug-bar:/var/www/html/wp-content/plugins/debug-bar:ro"
      - "./show-hooks:/var/www/html/wp-content/plugins/show-hooks:ro"
      - "./query-monitor:/var/www/html/wp-content/plugins/query-monitor:ro"
      - "./mz_mbo_arbitrary.log:/var/www/html/wp-content/mz_mbo_arbitrary.log:rw"
      - "./wp-content:/tmp/wordpress/init-wp-content"
      - "./info.php:/info.php"
    extra_hosts:
      - "host.docker.internal:host-gateway"
  wp-cli:
    image: "wordpress:cli-${WP_CLI_VERSION:-2.4.0}-php${PHP_VERSION:-7.4}"
    environment:
      - APACHE_RUN_USER="www-data"
      - APACHE_RUN_GROUP="www-data"
    depends_on:
      - "mysql"
    networks:
      - "back"
    volumes:
      - "wp:/var/www/html:rw"
      - "./bin/install-wp.sh:/usr/local/bin/install-wp:ro"
      - "./mz-mindbody-api:/var/www/html/wp-content/plugins/mz-mindbody-api:ro"
  mysql:
    image: "mariadb:10.2"
    environment:
      MYSQL_ALLOW_EMPTY_PASSWORD: "yes"
      MYSQL_DATABASE: "wordpress"
      MYSQL_ROOT_PASSWORD: ""
    networks:
      - "back"
    volumes:
      - "./data:/var/lib/mysql"

  proxy:
    image: "jwilder/nginx-proxy:alpine"
    ports:
      - "80:80"
    networks:
      front:
        aliases:
          - "${DOCKER_DEV_DOMAIN:-project.test}"
    volumes:
      - "/var/run/docker.sock:/tmp/docker.sock:ro"

networks:
  front: {}
  back: {}

volumes:
  wp: {}
  data: {}
