version: "3"

services:
  wordpress_phpunit:
    image: "chriszarate/wordpress-phpunit:6.0.6"
    volumes:
      - "./mz-mindbody-api:/app"
      - "./mz-mbo-access:/appTwo"
      - "./elliptica-on-demand:/appThree"
      - "testsuite:/tmp"
  mysql_phpunit:
    image: "mariadb:10.2"
    environment:
      MYSQL_ALLOW_EMPTY_PASSWORD: "yes"
      MYSQL_DATABASE: "wordpress_test"
      MYSQL_ROOT_PASSWORD: ""

volumes:
  testsuite: {}
